<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>forgot</title>

    <style>
        body {
            margin-top: 1%;
            margin-left: 10%;
        }


    </style>

</head>
<body>
<form class="ui large form" method="post" action="/users/forgot">
    <div class="ui container">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" autofocus class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Reset Password">
            </div>
    </div>
</form>

<script></script>
</body>
</html>

