<center>
  <h1 class="ui header" id="titel"><i class="chart bar icon"></i>Dashboard</h1></center>

<style>
  #titel {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #434343;
    color: white;
  }
</style>

<body>

  <div style="margin-left: 10%; margin-right:5%">


    <div class="ui segment">
      <h2 class="ui center aligned header">
        <div class="content">
          <i class="circle icon" style="color:red"></i>LIVE
            <div class="sub header">
              <div class="content">
                Live counts per
              <div class="ui inline dropdown" id="liveCount">
                <div class="text">day</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="active item" data-text="today" id="day">Day</div>
                  <div class="item" data-text="past 7 days" id="week">Week</div>
                  <div class="item" data-text="past 30 days" id="month">Month</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </h2>

      <div class="ui five statistics">
        <div class="statistic">
          <div class="value" id="personenautovalue">
            0
          </div>
          <div class="label">
            Personenauto's
          </div>
        </div>
        <div class="statistic">
          <div class="value" id="bedrijfsautovalue">
            0
          </div>
          <div class="label">
            Bedrijfsauto's
          </div>
        </div>
        <div class="statistic">
          <div class="value" id="aanhangwagenvalue">
            0
          </div>
          <div class="label">
            Aanhangwagens
          </div>
        </div>
        <div class="statistic">
          <div class="value" id="motorfietsvalue">
            0
          </div>
          <div class="label">
            Motorfietsen
          </div>
        </div>
        <div class="statistic">
          <div class="value" id="bromfietsvalue">
            0
          </div>
          <div class="label">
            Bromfietsen
          </div>
        </div>
      </div>
    </div>

    <div class="ui horizontal segments">

      <div class="ui segment" style="width:66%">
        <h2 class="ui center aligned header">
        <div class="content">
          Alle voertuigen
          <div class="sub header">vandaag</div>
        </div>
      </h2>
        <canvas id="myBar"></canvas>
        <script>
          var TopbarChart = new Chart(myBar, {
            type: 'bar',
            data: {
              labels: ["00:00 - 04:00", "04:00 - 08:00", "08:00 - 12:00", "12:00 - 16:00", "16:00 - 20:00", "20:00 - 00:00"],
              datasets: [{
                label: "Personenauto's",
                data: [0, 0, 0, 0, 0, 0],
                backgroundColor: "#6666ff"
              }, {
                label: "Bedrijfsauto's",
                data: [0, 0, 0, 0, 0, 0],
                backgroundColor: "#ff66ff"
              }, {
                label: "Aanhangwagens",
                data: [0, 0, 0, 0, 0, 0],
                backgroundColor: "6666ff"
              }, {
                label: "Motorfietsen",
                data: [0, 0, 0, 0, 0, 0],
                backgroundColor: "#66ff66"
              }, {
                label: "Bromfietsen",
                data: [0, 0, 0, 0, 0, 0],
                backgroundColor: "#ff6666"
              }]
            },
            options: {
              legend: {
                position: 'bottom'
              }
            }
          });
        </script>

          <!--alle voertuigen-->
        <script type="text/javascript">
        $.get("/graphdata01", function(data) {
          TopbarChart.data.datasets[0].data[0] = data.personenauto;
          TopbarChart.data.datasets[1].data[0] = data.bedrijfsauto;
          TopbarChart.data.datasets[2].data[0] = data.aanhangwagen;
          TopbarChart.data.datasets[3].data[0] = data.motorfiets;
          TopbarChart.data.datasets[4].data[0] = data.bromfiets;
          TopbarChart.update();

        });
        $.get("/graphdata02", function(data) {
          TopbarChart.data.datasets[0].data[1] = data.personenauto;
          TopbarChart.data.datasets[1].data[1] = data.bedrijfsauto;
          TopbarChart.data.datasets[2].data[1] = data.aanhangwagen;
          TopbarChart.data.datasets[3].data[1] = data.motorfiets;
          TopbarChart.data.datasets[4].data[1] = data.bromfiets;
          TopbarChart.update();

        });
        $.get("/graphdata03", function(data) {
          TopbarChart.data.datasets[0].data[2] = data.personenauto;
          TopbarChart.data.datasets[1].data[2] = data.bedrijfsauto;
          TopbarChart.data.datasets[2].data[2] = data.aanhangwagen;
          TopbarChart.data.datasets[3].data[2] = data.motorfiets;
          TopbarChart.data.datasets[4].data[2] = data.bromfiets;
          TopbarChart.update();

        });
        $.get("/graphdata04", function(data) {
          TopbarChart.data.datasets[0].data[3] = data.personenauto;
          TopbarChart.data.datasets[1].data[3] = data.bedrijfsauto;
          TopbarChart.data.datasets[2].data[3] = data.aanhangwagen;
          TopbarChart.data.datasets[3].data[3] = data.motorfiets;
          TopbarChart.data.datasets[4].data[3] = data.bromfiets;
          TopbarChart.update();

        });
        $.get("/graphdata05", function(data) {
          TopbarChart.data.datasets[0].data[4] = data.personenauto;
          TopbarChart.data.datasets[1].data[4] = data.bedrijfsauto;
          TopbarChart.data.datasets[2].data[4] = data.aanhangwagen;
          TopbarChart.data.datasets[3].data[4] = data.motorfiets;
          TopbarChart.data.datasets[4].data[4] = data.bromfiets;
          TopbarChart.update();

        });

        $.get("/graphdata06", function(data) {
          TopbarChart.data.datasets[0].data[5] = data.personenauto;
          TopbarChart.data.datasets[1].data[5] = data.bedrijfsauto;
          TopbarChart.data.datasets[2].data[5] = data.aanhangwagen;
          TopbarChart.data.datasets[3].data[5] = data.motorfiets;
          TopbarChart.data.datasets[4].data[5] = data.bromfiets;
          TopbarChart.update();

        });
        </script>
      </div>

      <div class="ui segment" style="width:33%">
          <h2 class="ui center aligned header">
          <div class="content">
            Brandstoffen van voertuigen
            <div class="sub header">Vandaag</div>
          </div>
        </h2>
          <canvas id="myPie" width="400" height="400"></canvas>
          <script>
          console.log("HALLOOOOOO");
          $.get("/fueldata", function(data) {
            //$("#test").html(data.AmountTotal);
            console.log("hallooo" + data)
            myPieChart.data.datasets[0].data[0] = data.elektrisch;
            myPieChart.data.datasets[0].data[1] = data.benzine;
            myPieChart.data.datasets[0].data[2] = data.diesel;
            myPieChart.data.datasets[0].data[3] = data.hybrid;
            myPieChart.update();
  
          });
          </script>
        </div>

    </div>

    <div class="ui horizontal segments">
      <div class="ui segment" style="width:33%">
          <h2 class="ui center aligned header">
              <div class="content">
                Alle energielabels
                <div class="sub header">vandaag</div>
              </div>
            </h2>
        <canvas id="myPie2"></canvas>
        <script>
          var myPieChart2 = new Chart(myPie2, {
            type: 'doughnut',
            data: {
              labels: ['A', 'B', 'C', 'D', 'E', 'F', 'G'],
              datasets: [{
                data: [1, 2, 3, 4, 5, 6, 7],
                backgroundColor: ['#f2190c', '#40fc19', '#146bd1', '#0b9e57', '#f97021', '#FBC60D', '#DC1D6C']
              }]
            },
            options: {
              legend: {
                position: 'bottom'
              }
            }
          });
        </script>
        <script type="text/javascript">
          function getlivecountday() {
            $.get("/livecountday", function(data) {
              $("#personenautovalue").html(data.personenauto);
              $("#bedrijfsautovalue").html(data.bedrijfsauto);
              $("#aanhangwagenvalue").html(data.aanhangwagen);
              $("#motorfietsvalue").html(data.motorfiets);
              $("#bromfietsvalue").html(data.bromfiets);


            });
          }
          getlivecountday();
        </script>


      </div>

      <div class="ui segment" style="width:66%">
          <h2 class="ui center aligned header">
              <div class="content">
                More Statitics
                <div class="sub header">coming soon...</div>
              </div>
          </h2>
      </div>


        <script>
          var myPieChart = new Chart(myPie, {
            type: 'doughnut',
            data: {
              labels: ['Elektrisch', 'Benzine', 'Diesel', 'Hybride'],
              datasets: [{
                data: [34, 46, 54, 44],
                backgroundColor: ['#ff6666', '#6666ff', '#66ff66', '#ff66ff']
              }]
            },
            options: {
              legend: {
                position: 'bottom'
              }
            }
          });
        </script>
        <script type="text/javascript">
          console.log("HALLOOOOOO");
          $.get("/fueldata", function(data) {
            //$("#test").html(data.AmountTotal);
            console.log("hallooo" + data)
            myPieChart.data.datasets[0].data[0] = data.elektrisch;
            myPieChart.data.datasets[0].data[1] = data.benzine;
            myPieChart.data.datasets[0].data[2] = data.diesel;
            myPieChart.data.datasets[0].data[3] = data.hybrid;
            myPieChart.update();

          });
        </script>

        <script type="text/javascript">
          $.get("/economylabeldata", function(data) {
            console.log("hallooo" + data)
            myPieChart2.data.datasets[0].data[0] = data.labelA;
            myPieChart2.data.datasets[0].data[1] = data.labelB;
            myPieChart2.data.datasets[0].data[2] = data.labelC;
            myPieChart2.data.datasets[0].data[3] = data.labelD;
            myPieChart2.data.datasets[0].data[4] = data.labelE;
            myPieChart2.data.datasets[0].data[5] = data.labelF;
            myPieChart2.data.datasets[0].data[6] = data.labelG;
            myPieChart2.update();

          });
        </script>


      </div>

    </div>

  </div>

  <script>
  function getweekdata() {
    $.get("/livecountweek", function(data) {
      $("#personenautovalue").html(data.personenauto);
      $("#bedrijfsautovalue").html(data.bedrijfsauto);
      $("#aanhangwagenvalue").html(data.aanhangwagen);
      $("#motorfietsvalue").html(data.motorfiets);
      $("#bromfietsvalue").html(data.bromfiets);


    });
  }

  function getmonthdata() {
    $.get("/livecountmonth", function(data) {
      $("#personenautovalue").html(data.personenauto);
      $("#bedrijfsautovalue").html(data.bedrijfsauto);
      $("#aanhangwagenvalue").html(data.aanhangwagen);
      $("#motorfietsvalue").html(data.motorfiets);
      $("#bromfietsvalue").html(data.bromfiets);


    });
  }




      $('.ui.inline.dropdown')
              .dropdown();

      $(function(){
          $('.item').click(function (){
              var currentPeriod = this.id;
              console.log(currentPeriod);

              if(currentPeriod == "week"){
                  getweekdata();
              }else if(currentPeriod == "month"){
                  getmonthdata();
              }else {
                  getlivecountday();
              }
          });
      });
  </script>
</body>
