<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/semantic/dist/semantic.css"/>

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</head>
<body>
<div id="sidebar" class="ui left visible vertical inverted sidebar labeled icon menu">
    <a class="item" href="/">
        <i class="home icon"></i>
        Home
    </a>
    <a class="item" href="/map">
        <i class="map icon"></i>
        Map
    </a>
    <a class="item" href="/settings">
        <i class="wrench icon"></i>
        Settings
    </a>
    <a class="item" href="/users/logout">
        <i class="power off icon"></i>
        Log-out
    </a>
</div>
{{{body}}}
</body>
</html>
