<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/semantic/dist/semantic.css"/>

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
</head>
<body>

<div id="sidebar" class="ui left fixed inverted vertical menu">
    <div class="item">
        <img id="logo" class="ui centered image" src="/images/pulselogo.png">
    </div>
    <a class="item" href="/">
        Dashboard
    </a>
    <a class="item" href="/map">
        Open PULSE
    </a>
    <a class="item bottom">
        Logout
    </a>
</div>
{{{body}}}
</body>
</html>
