<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/semantic/dist/semantic.css" />

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
</head>

<body>
  <div id = "navbar" class="ui huge secondary pointing menu">
  <a id = "knop" class="item" href="/">
    Product
  </a>
  <a class="item" href="solution">
    Idea
  </a>
  <a class="item" href="/learn">
    Learn
  </a>
  <a class="item" href="/about">
    About
  </a>
  <a class="item" href="support">
    Support
  </a>

  <div class="right menu">
    <a class="ui item">
      Log-in
    </a>
    <a class="ui item">
      Register
    </a>
  </div>

</div>
  {{{body}}}
</body>

</html>
