<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/semantic/dist/semantic.css" />

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
</head>


<body>
  <div class="ui huge fixed inverted left menu">

      <a class="header item">
        <img class="logo" id="logo" src="/images/pulse_banner_icon.png">
        <p>Pulse </p>
      </a>
      <a class="item" href="/">
    Home
  </a>
      <a class="item" href="/solution">
    Idea
  </a>
      <a class="item" href="/learn">
    Learn
  </a>
      <a class="item" href="/about">
    About
  </a>
      <a class="item" href="/support">
    Support
  </a>

    <div class="right menu">
    <a class="ui item" href="/login">
      Log-in
    </a>
    <a class="ui item" href="/register">
      Register
    </a>
  </div>

  </div>
  {{{body}}}
</body>

</html>
