
<center><h1 class="ui header">Dashboard</h1></center>
<body>
<center>
  fre
<p id="demo">Click the button to change the text in this paragraph.</p>
</center>

<script type="text/javascript">
  console.log('test');
</script>
</body>
