<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/semantic/dist/semantic.css"/>
</head>
<body>
    <h1 class="ui header" style="text-align: center">Settings</h1>
</div>
</body>
</html>

