<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Settings</title>

    <link rel='stylesheet' href='/stylesheets/settings.css' />
    <link rel="stylesheet" href="/semantic/dist/semantic.css" />

    <style type="text/css">
        body {
            margin-top: 1%;
            margin-left: 10%;
        }
        .input {
            text-align: right;
            float: right;
            clear: right;
            width: 250px;
        }
        #edit{
            float: right;
            clear: right;
            width: 250px;
        }



    </style>
    <style media="screen">
        #settings{
            margin-top: 100px;
        }

    </style>

    <script>
        $('#saveButton').change(function () {
            $('#testTextfield').attr('disabled',!this.checked);
            //$('#test').attr('disabled',!this.checked);
        });
    </script>

</head>

<body>
<!--Comments-->
<div class="ui grid">
    <div class="twelve wide stretched column">
        <h1 class="ui header" id="titel"><i class="wrench icon"></i>Settings</h1></center>
        <!--Comments-->
        <div class="ui container" id = "settings">
            <!--Comments-->
            <form class="ui large form" method="post" action="/users/settings/username">
            <label>Username</label>
            <div class="ui input">
                <input type="text" name="username" id="testTextfield" value="{{UserName}}" disabled>
                <button class="ui blue submit button" id="editUsername">Edit</button>
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="saveButton" id="saveButton" tabindex="0" class="hidden">
                    <label>edit</label>
                </div>
                </div>
            </form>
            <p></p>
            <!--Comments-->
            <form class="ui large form" method="post" action="/users/settings/email">
            <label>E-mail</label>
            <div class="ui input">
                <input type="text" name="email" value="{{Email}}" disabled >
                <button class="ui blue submit button" id="editEmail">Edit</button>
            </div>
            </form>
            <p></p>
            <!--Comments-->
            <form class="ui large form" method="post" action="/users/settings/password">
            <label>Password</label>
            <div class="ui input">
                <input type="password" name="password" value="{{Password}}">
                <button class="ui blue submit button" id="editPassword">Edit</button>
            </div>
            </form>
            <p></p>
            <!--Comments-->
            <form class="ui large form" method="post" action="/users/settings/township">
            <label>Township</label>
                <div class="ui input">
                <input type="text" name="township" value="{{Township}}">
                    <button class="ui blue submit button" id="editTownship">Edit</button>
                </div>
            </form>
            <p></p>
        </div>
        </div>
    </div>
</body>


</html>
