<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/homepage.css'/>
    <link rel="stylesheet" href="/semantic/dist/semantic.css"/>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

    <style type="text/css">
        .ui.inverted.segment, .ui.primary.inverted.segment {
            background-color: #00AEEF;
        }

        .hidden.menu {
            display: none;
        }

        .masthead.segment {
            min-height: 700px;
            padding: 1em 0em;
        }

        .masthead .logo.item img {
            margin-right: 1em;
        }

        .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
        }

        .masthead h1.ui.header {
            margin-top: 3em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
        }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        .ui.vertical.stripe {
            padding: 8em 0em;
        }

        .ui.vertical.stripe h3 {
            font-size: 2em;
        }

        .ui.vertical.stripe .button + h3,
        .ui.vertical.stripe p + h3 {
            margin-top: 3em;
        }

        .ui.vertical.stripe .floated.image {
            clear: both;
        }

        .ui.vertical.stripe p {
            font-size: 1.33em;
        }

        .ui.vertical.stripe .horizontal.divider {
            margin: 3em 0em;
        }

        .quote.stripe.segment {
            padding: 0em;
        }

        .quote.stripe.segment .grid .column {
            padding-top: 5em;
            padding-bottom: 5em;
        }

        .footer.segment {
            padding: 5em 0em;
        }

        .secondary.pointing.menu .toc.item {
            display: none;
        }

        @media only screen and (max-width: 700px) {
            .ui.fixed.menu {
                display: none !important;
            }

            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }

            .secondary.pointing.menu .toc.item {
                display: block;
            }

            .masthead.segment {
                min-height: 350px;
            }

            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }

            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }


    </style>

    <script src="assets/library/jquery.min.js"></script>
    <script src="../dist/components/visibility.js"></script>
    <script src="../dist/components/sidebar.js"></script>
    <script src="../dist/components/transition.js"></script>

</head>
<!-- Page Contents -->
<div class="pusher">
    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column" style="background-color: #00AEEF;">
                    <h3 style="color: white;">Support.</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class=" row">
                <div class="column" style="background-color: white; text-align: center" id="customColumn">
                    <h3 style="color: #00AEEF;">FAQ</h3>
                    <div class="ui grid">
                        <div class="four wide column">
                            <div class="ui vertical fluid tabular menu">
                                <a class="item">
                                    How do you scan the vehicles?
                                </a>
                                <a class="item">
                                    How do you get all the data from just the license plates?
                                </a>
                                <a class="item active">
                                    What are the costs of an account?
                                </a>
                            </div>
                        </div>
                        <div class="twelve wide stretched column">
                            <div class="ui segment">
                                None. Making an account and making use of our system is completely free.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column" style="background-color: white;" id="customColumn">
                    <h3 style="color: #00AEEF; text-align: center">Ask A Question</h3>
                    <form class="ui form">
                        <div class="field">
                            <label>First Name</label>
                            <input type="text" name="first-name" placeholder="First Name">
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input type="text" name="last-name" placeholder="Last Name">
                        </div>
                        <div class="field">
                            <label>Text</label>
                            <textarea></textarea>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" tabindex="0" class="hidden">
                                <label>I have not found an answer in the FAQ or manual</label>
                            </div>
                        </div>
                        <button class="ui button" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column" style="background-color: #00AEEF;">
                    <p style="color: white;"><a href="/learn" style="color: white"><strong><u>Click here to download the
                        user manual</u></strong></a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted vertical footer segment" style="background-color: #2185d0;">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <img src="/images/pulselogo.png" class="ui avatar image"
                         style="width: 150px; height:150px; margin: -30px 0px 0px -100px">
                </div>
                <div class="three wide column">
                    <div class="ui inverted link list" style="color: white;">
                        <a href="/" class="item">Product</a>
                        <a href="/solution" class="item">Idea</a>
                        <a href="/learn" class="item">Learn</a>
                    </div>
                </div>
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <a href="/about" class="item">About</a>
                        <a href="/support" class="item">Support</a>
                        <a href="/pricing" class="item">Pricing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
